.table__body-row {
  &:hover {
    cursor: pointer;
    outline: 1px solid #1a1a1a;
  }
}

.table__body-row:nth-child(2n + 1) {
  background-color: #fbfbfb;
}
.table__body-row:nth-child(2n) {
  background-color: #f1f1f1;
}

.table__body-cell {
  padding: 6px 24px;

  font-size: 16px;
  line-height: 20px;

  color: #1a1a1a;

  @include for-size(medium) {
    padding: 8px 12px;
  }
  @include for-size(small) {
    padding: 4px 8px;
  }
}

.table__body-cell.ip_address,
.table__body-cell.email {
  @include for-size(medium) {
    display: none;
  }
}

.table__body-cell.email,
.table__body-cell.ip_address,
.table__body-cell.gender {
  @include for-size(small) {
    display: none;
  }
}
