.user__title {
  font-family: "MontserratBold";
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 24px;
}

.user__subtitle {
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
  margin-bottom: 24px;
}

.graph {
  margin-bottom: 48px;
}
.graph > div {
  margin: 0 auto;
}

.graph__chart {
  width: 1000px;
  height: 400px;
}
